OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
OPENAI_MODEL_SUPERVISOR=gpt-4o
